@import "./bootstrap-src/bootstrap-3.3.5/less/variables.less";

@font-face {
    font-family: "Shree";
    src: url("fonts/ShreeDev0714.ttf");
}

@background-color: #1D181F;
@main-color: #306E73;
@alt-color-2: #3B424C;
@heading-color: #FF5335;
@text-color: #B29C85;

@body-font-size: @font-size-base * 1.5;
@header-font-size: @font-size-base * 10;
@speaker-name-font-size: @font-size-base * 1.7;

h1, h2, h3 {
    color: @heading-color;
    font-weight: bolder;
}

body {
    background-color: @background-color;
    color: @text-color;
    font-family: "Shree", sans-serif;
    font-size: @body-font-size;
}

.circular-img(@width) {
    border-radius: @width / 2px;
    -webkit-border-radius: @width / 2px;
    -moz-border-radius: @width / 2px;
}

.row div {
    text-align: center;
}

header {
    #banner {
        background-color: @main-color;
        border-top: 10px solid @alt-color-2;
        border-bottom: 10px solid @alt-color-2;
        height: 50%;
        margin-top: 100px;
        min-height: 375px;
        max-height: 500px;
        position: relative;
    
        #this1, #this2 {
            position: absolute;
        }
    
        #this1 {
            top: 0px;
            left: 13%;
            width: 20%;
            max-width: 150px;
        }
    
        #this2 {
            bottom: 0px;
            right: 13%;
            width: 22%;
            max-width: 180px;
        }
    }

    #title {
        color: @heading-color;
        font-size: @header-font-size;
    }

    p {
        text-align: center;
    }
}

#blurb {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;

    h2 {
        text-align: center;
    }

    p {
        margin-top: 5%;
    }
}

#info {
    margin-top: 5%;

    p {
        font-weight: bold;
        margin: 0px;
        text-align: center !important;
    }
}

#info p:nth-child(2) {
    margin-bottom: 10px;   
}

#speakers-list {

    a {
        color: #B29C85;
        text-decoration: none;

        img {
            opacity: 0.75;
            width: 90%;
            .circular-img(500);
        }

        @media (min-width: @screen-lg) {
            img {
                max-width: 225px;
            }
        }
    }

    div {
        padding: 0 5px;
    }

    h4 {
        white-space: nowrap;
    }

    p  {
        text-align: center;
    }
}

section {
    &.speaker {
        img {
            width: 50%;
            .circular-img(500);
        }

        @media (min-width: @screen-lg) {
            img {
                max-width: 225px;
            }
        }

        @media (min-width: @screen-sm) and (max-width: @screen-md) {
            .bio p {
                margin-bottom: 20px;
            }
        }
    }
}

section:not(:nth-child(1)), footer {
    text-align: center;
    margin: 0 auto;   
    position: relative;
    width: 100%;
}

.contaier-fluid {
    width: 100%;
}

section .bio {
    margin-top: 2% !important;
}

section.speaker:nth-child(2n) {
    padding: 12.5% 0;
}

section.speaker:nth-child(2n+1) {
    background-color: lighten(@background-color, 5%);
    padding: 12.5% 0;
}

section div:nth-child(2) p {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

section:not(:nth-child(1)) > div {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

body section:nth-child(2) {
    top: 25%;
}

body section:nth-child(3) {
    top: 50%;
}

body section:nth-child(4) {
    top: 50%;
}

body section:nth-child(5) {
    top: 50%;
}

body section:nth-child(6) {
    top: 75%;
}

body section:nth-child(7) {
    top: 125%;
}

body section:nth-child(8) {
    top: 150%;
}

footer {
    position: relative;
    top: 200%;

    img {
        margin-bottom: 35px;
    }

    img:not(#n) {
        height: 25px;
        width: auto;
    }

    img#n {
        width: 50px;
        height: auto;
    }
}

@media (min-resolution: 2dppx) {
    body { 
        font-size: @body-font-size * 1.5;
    }

    h2 { font-size: @font-size-h2 * 1.5; }
    h3 { font-size: @font-size-h3 * 1.5; }
    h4 { font-size: @font-size-h4 * 1.5 * 1.5; }

    #header #title {
        font-size: @font-size-base * 10;
    }

    #speakers-list img {
        width: 75%;
    }

    .speaker {
        cite {
            font-size: @body-font-size * .6;
        }

        .bio p {
            /* I have no flippin' idea why this needs to go smaller */
            font-size: @body-font-size * .7;
        }
    }
}

