.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .item {
    display: inline-block;
    text-align: center;
    padding: 10px;

    img {
      max-height: 150px;
      border-radius: 10px;
      box-shadow: 0 0 48px rgba(0,0,0,.2);
      cursor: pointer;
    }
  }

  .item:first-child {
  }

  .shadow {
    position: relative;
  }

  .shadow:before, .shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  .shadow:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
}
