@import '../../sass/variables';

div {

  &.portfolio {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
  }

  &.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .item {
      width: 33%;

      @media screen and (max-width: map-get($screen, large)) {
        width: 50%;
      }

      @media screen and (max-width: map-get($screen, small)) {
        width: 100%;
      }
    }
  }
}
