<div class="wrapper">

  <div class="cover" [style.background-image]="coverImage">
    <div class="overlay" [style.background-color]="rgb2rgba(project.color, 0.5)"></div>
    <div class="title">
      <h1>{{ project.name }}</h1>
      <h2>{{ project.tagline }}</h2>
    </div>
  </div>

  <div class="summary">
    <p [innerHTML]="summary"></p>
  </div>

  <div class="glance">
    <div *ngIf="showGlance('website')" class="website">
      <div class="oi oi-globe"></div>
      <a href="{{ project.website }}" class="url">{{ project.website | prettyUrl }}</a>
    </div>

    <div *ngIf="showGlance('status')" class="status">
      <span class="title">Status:</span>
      <div *ngIf="ongoing" class="oi oi-clock"></div>
      <div *ngIf="!ongoing" class="oi oi-task"></div>
      <div *ngIf="ongoing" title="Since {{ project.startDate | date: 'MMMM y'}}">
        Ongoing
        <span>
          since {{ project.startDate | date: 'MMMM y'}}
        </span>
      </div>
      <div *ngIf="!ongoing" title="From {{ project.startDate | date: 'MMMM y' }} to {{ project.endDate | date: 'MMMM y'}}">
        Completed {{ project.endDate | date: 'MMMM y'}}
      </div>
    </div>

    <div *ngIf="showGlance('awards')" class="awards">
      <span class="title">Awards:</span>
      <span class="oi oi-badge" *ngIf="project.awards.length >= 5"></span>
      <div class="icons" *ngIf="project.awards.length < 5">
        <span class="oi oi-badge" *ngFor="let i of Arr(project.awards.length).fill(1)"></span>
      </div>
      <div class="count"><span *ngIf="project.awards.length >= 5">{{ project.awards.length }}</span> Awards Earned</div>
    </div>

    <div *ngIf="showGlance('responsibilities')" class="responsibilities">
      <ul>
        <li *ngFor="let responsibility of project.responsibilities"><span class="oi oi-{{ getIconName(responsibility) }}"></span>{{ responsibility }}</li>
      </ul>
    </div>
  </div>

  <div class="description" [innerHTML]="description"></div>

  <div class="awards" *ngIf="project.awards.length > 0">
    <h3><a name="awards">Awards</a></h3>
    <div class="list">
      <div *ngFor="let award of project.awards" class="item award">
        <div class="oi oi-badge"></div>
        <div class="title"><a href="{{ award.link }}" target="_blank">{{ award.name }}</a></div>
        <div>{{ award.event }}</div>
      </div>
    </div>
  </div>

  <div class="gallery" *ngIf="project.gallery.length > 0">
    <h3><a name="gallery">Gallery</a></h3>
    <gallery [items]="project.gallery"></gallery>
  </div>

  <div class="collaborators" *ngIf="project.members.length > 0">
    <h3><a name="gallery">Collaborators</a></h3>
    <div class="list">
      <div *ngFor="let member of project.members" class="item member">
        <div class="oi oi-person"></div>
        <div class="title">{{ member.name }}</div>
      </div>
    </div>
  </div>

</div>
