<div class="contact">
  <h2>john@{{ email_host }}</h2>
  <p class="spacer"></p>
  <p>My <a href="https://keybase.io/johnluetke">proof of identity</a>, along with <a href="https://keybase.io/johnluetke">my public key</a>, is available on <a href="https://keybase.io">keybase</a>.</p>
  <p class="spacer"></p>
  <a href="https://github.com/johnluetke"><img class="logo github" src="/assets/github.png" /></a>
  <a href="https://linkedin.com/in/johnluetke"><img class="logo linkedin" src="/assets/linkedin.png" /></a>
</div>
